.progress {
    height: 10px;
	margin-bottom: 0;
	width:100%;
	padding:0;
	border-radius:0;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
	 
}


body{
	background-color:#fafafa;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}


.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
    cursor: pointer;
}

.card.hovercard .cardheader {
	background-size: cover;
    height: 20px;
}


.inventarioetiquetas
{
	background-color: #20a7d0;
}

.libroyusuario
{
	background-color: #00a7d0;
}

.inventariolibros
{
	background-color: #00a65a;
}

.inventariousuarios
{
	background-color: #dd4b39;
}

.card.hovercard .avatar {
    position: relative;
    top: -28px;
    margin-bottom: -65px;
}

.card.hovercard .avatar img {
    width: 70px;
    height: 70px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    font-weight: bold;
	line-height: 1;
    color: #428bca;
    vertical-align: middle;
	text-align:left;
	padding:0;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 15px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
    text-align: right;
}

.avatar > img {
    cursor: pointer;
}